<h1> New Scores </h1>
<div class="container">


<%= simple_form_for [@score] do |f| %>
  <h2>Dados Pessoais</h2>
  <%= f.input :name, :input_html => {:style => 'width: 250px'} %>
  <%= f.input :lastname, :input_html => {:style => 'width: 250px'} %>
  <%= f.input :rg, :input_html => {:style => 'width: 250px'} %>
  <%= f.input :cpf, :input_html => {:style => 'width: 250px'} %>
  <%= f.input :dap, :input_html => {:style => 'width: 250px'} %>
  <%= f.input :garantia, collection: ['Sim','Não'],:input_html => {:style => 'width: 250px'} %>

  <h2>Dados da Safra</h2>
  <%= f.input :crop, collection: ['Milho','Tomate'], :input_html => {:style => 'width: 250px'} %>
  <%= f.input :iniplant %>
  <%= f.input :endplant %>
  <%= f.input :experience, :input_html => {:style => 'width: 250px'} %>
  <%= f.input :ha, :input_html => {:style => 'width: 250px'} %>
  <%= f.input :annual_income, :input_html => {:style => 'width: 250px'} %>
  <%= f.button :submit, "Create", class: "btn btn-success" %>
<% end %>
</div>
