<div class="container mt-5">
    <div class="row">
      <% @loan_proposals.each do |proposal| %>

      <div class="card-trip mt-5">
        <% img = ['https://res.cloudinary.com/dxcmhqu2v/image/upload/v1654971140/laranja_x0k73a.jpg', 'https://images.unsplash.com/photo-1635450370155-d6a650322fa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWdyaWN1bHR1cmFsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/photo-1635343251752-f1980359d2c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGFncmljdWx0dXJhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/photo-1615411490726-3ee584bb999f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGFncmljdWx0dXJhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60
', 'https://images.unsplash.com/photo-1635450672547-bf600c193d3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGFncmljdWx0dXJhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/photo-1622128300483-755cf0571478?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGFncmljdWx0dXJhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/flagged/photo-1601316587579-187125db32c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGFncmljdWx0dXJhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/photo-1568802969551-3270e72416ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODV8fGFncmljdWx0dXJhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60', 'https://res.cloudinary.com/dxcmhqu2v/image/upload/v1654971139/tomate_k5somf.jpg', 'https://images.unsplash.com/photo-1600807644626-fb3c8c8ba40d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA2fHxhZ3JpY3VsdHVyYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/photo-1638179551672-695b49e59f18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU2fHxhZ3JpY3VsdHVyYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/photo-1615860767493-6d04ffeed55e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ5fHxhZ3JpY3VsdHVyYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60', 'https://images.unsplash.com/photo-1641912593355-134c57c76246?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU5fHxhZ3JpY3VsdHVyYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60' ].sample%>
        <img src= "<%= img %>" />
        <div class="card-trip-infos">
          <div>
            <h2>Proposta de <%= proposal.user.scores.first.name %> <%= proposal.user.scores.first.lastname %></h2>
            <p>Email do Usuário: <%= proposal.user.email %></p>
              <p>Valor: R$ <%= proposal.amount %></p>
              <p>Condições: <%= proposal.conditions %></p>
              <p>Risco: <%= proposal.user.scores.first.risk %></p>
              <p>Status da Proposta: <%= proposal.accepted %></p>
              <%= link_to 'Detalhes', loan_proposal_path(proposal), class: 'btn btn-login' %>
          </div>
        </div>
      </div>



      <% end %>
    </div>
</div>
